@import "../_globalColor";

.dark-mode {
  background-color: $darkBackground;
  color: $textColorDark;
  transition: "0.1s";
}

.light-mode {
  background-color: $lightBackground;
  color: $textColor;
  transition: "0.1s";
}
